/*button.close {
  background: url('../close_dark.svg') no-repeat;
  background-size: cover;
  border-radius: 50%;
}

button.close:hover,
button.close:active {
  background: url('../close_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

button.save {
  background: url('../save_dark.svg') no-repeat;
  background-size: cover;
}

button.save:hover,
button.save:active {
  background: url('../save_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}
button.flip {
  background: url('../flip_dark.svg') no-repeat;
  background-size: cover;
}

button.flip:hover,
button.flip:active {
  background: url('../flip_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

button.expand{
  background: url('../expand_dark.svg') no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0;
  border: 0;
  border-radius: 50%;
  z-index: 9999;
}

button.expand:hover,
button.expand:active {
  background: url('../expand_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

button.shrink{
  background: url('../expand_dark.svg') no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0;
  border: 0;
  border-radius: 50%;
  z-index: 9999;
}

button.shrink:hover,
button.shrink:active {
  background: url('../expand_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}
*/
