button.close {
  background: url('../close_dark.svg') no-repeat;
  background-size: cover;
  border-radius: 50%;
}

button.close:hover,
button.close:active {
  background: url('../close_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

button.save {
  background: url('../save_dark.svg') no-repeat;
  background-size: cover;
}

button.save:hover,
button.save:active {
  background: url('../save_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

button.flip {
  background: url('../flip_dark.svg') no-repeat;
  background-size: cover;
}

button.flip:hover,
button.flip:active {
  background: url('../flip_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}
