div.card {
  background: rgba(90, 125, 86, 1.0);
  color: rgba(171, 178, 191, 1.0);
  width: 200px; /* 7:5 aspect ratio */
  height: 280px; /* 7:5 aspect ratio */
  position: absolute;
  perspective: 1000px;
  top: 50%;
  left: 50%;
  border: 1px solid rgba(89, 87, 90, 1.0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px;
  user-select: none;
}

div.card:hover {
  box-shadow: 0 0 3pt 1pt rgba(102, 204, 117, 0.75);
}

div.card.nohover:hover {
  box-shadow: 0 0 3pt 1pt rgba(218, 46, 46, 1.0) !important;
}

div.card.highlight {
  box-shadow: 0 0 5pt 3pt rgba(218, 46, 46, 1.0);
}

div.card.fullscreen {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

div.card.fullscreen.split_left {
  top: 0px;
  left: 0px;
  right: auto;
  height: 100%;
  width: 50%;
}

div.card.fullscreen.split_right {
  top: 0px;
  left: auto;
  right: 0px;
  height: 100%;
  width: 50%;
}

div.card.fullscreen div.card-header {
  cursor: default;
}

div.card-header {
  height: 29px;
  width: 100%;
  background: rgba(89, 87, 90, 1.0);
  box-sizing: border-box;
  /* padding: 0 0 0 7px; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  cursor: move;
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
  font-family: 'Lato', Georgia, Serif;
  font-weight: bold;
}

div.card-header button {
  height: 15px;
  width: 15px;
  top: 7px;
  border: 0;
  margin-right: 5px;
  z-index: 9999;
}

div.card-header span {
  flex-basis: 100%;
}

div.card-header svg.expand {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  z-index: 9999;
}

div.card-content {
  width: 100%;
  height: 100%;
  background-color: lightblue;
  color: rgba(10, 10, 10, 1.0);
}

.ui-flippable {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  position: relative;
}

.front, .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-color: rgb(90, 125, 86);
}

.back {
  background-color: rgba(79, 77, 80, 1.0);
  transform: rotateY(180deg);
  z-index: 4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

span.data-label {
  display: inline-block;
  width: calc(37% - 6px);
  margin: 2px 1px;
  padding: 2px;
  font-family: 'Lato', Georgia, Serif;
  word-wrap: break-word;
}

span.data-field {
  display: inline-block;
  width: calc(63% - 6px);
  margin: 2px 1px;
  padding: 2px;
  background-color: rgba(250, 250, 250, 1.0);
  color: rgba(10, 10, 10, 1.0);
  border-radius: 5px;
  font-family: 'Lato', Georgia, Serif;
  word-wrap: break-word;
}

select.data-field {
  display: inline-block;
  height: 24px;
  width: calc(63% - 2px);
  margin: 2px 1px;
  padding: 2px;
  background-color: rgba(250, 250, 250, 1.0);
  color: rgba(10, 10, 10, 1.0);
  border-radius: 5px;
  font-family: 'Lato', Georgia, Serif;
  word-wrap: break-word;
}
