div.overlay {
  background: rgba(40, 44, 52, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.snackbar, div.dialog, div.banner {
  background: rgba(71, 0, 153, 1.0) center/20px auto no-repeat;
  color: rgba(171, 178, 191, 1.0);
  font: normal normal 15px/90% 'Lato', Georgia, Serif;
  user-select: none;
  z-index: 9999;
}

div.snackbar {
  border-radius: 0px 0px 10px 10px;
  border: thin solid;
  border-top: 0;
  width: 400px;
  height: auto;
  min-height: 70px;
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  overflow: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

div.banner {
  border-bottom: thin solid;
  width: 100%;
  height: auto;
  min-height: 70px;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  overflow: scroll;
  top: 0;
  left: 0;
}

div.dialog {
  width: 350px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

div.snackbar *, div.banner *, div.dialog * {
  margin: 5px 10px;
}

div.snackbar b, div.banner b, div.dialog b {
  margin: 0;
}

div.snackbar span, div.banner span, div.dialog span {
  width: 100%;
}

div.snackbar button.close, div.banner button.close {
  display: none;
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 6px;
  right: 6px;
  z-index: 99999;
  margin: 0;
}

div.snackbar div.top, div.banner div.top, div.dialog div.top {
  height: 40px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  margin: 0;
}

div.snackbar div.middle, div.banner div.middle, div.dialog div.middle {
  height: auto;
  min-height: 100px;
  width: 95%;
  word-wrap: break-word;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: center;
  margin: 0;
}

div.snackbar div.bottom, div.banner div.bottom, div.dialog div.bottom {
  height: auto;
  min-height: 40px;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

div.bottom button {
  width: auto;
  margin-right: 10px;
}
