div.stack {
  height: calc((280px * 1.25) + 28px);
  width: calc((200px * 1.25) + 28px);
  background-color: rgba(102, 204, 117, 0.6);
  color: rgba(33, 37, 43, 1.0);
  position: absolute;
  cursor: move;
  border: 0.5px solid rgb(125, 125, 125);
  border-radius: 5px;
}

div.stack > button {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  /*border-radius: 50%;*/
  z-index: 9999;
}

div.stack > svg.close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  z-index: 9999;
}

div.stack > button.close {
  background: rgba(102, 204, 117, 0.0) url('../close_dark.svg') center/15px auto no-repeat;
  background-size: cover;
}

div.stack > button.close:hover,
div.stack > button.close:active {
  background: rgba(102, 204, 117, 0.0) url('../close_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

textarea.annotation {
  position: absolute;
  width: calc(100% - 35px);
  background: transparent;
  border: none;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  resize: none;
  font-family: sans-serif;
}
