/* temporary fix to suppress Chromium error, issue is being tracked via
    the following issue: https://github.com/electron/electron/issues/4420 */
::selection {
    #background: transparent;
}

div.loading-img {
  background: rgba(71, 0, 153, 1.0) url('../asset/loading.gif') center/20px auto no-repeat;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(100%);
}

div.overlay {
  background: rgba(40, 44, 52, 0.4);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
