div.card {
  background: linear-gradient(rgb(89, 87, 90, 1.0), rgb(255, 255, 255, 1.0));
  color: rgba(171, 178, 191, 1.0);
  width: 200px;
  /* 7:5 aspect ratio */
  height: 280px;
  /* 7:5 aspect ratio */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transform-style: preserve-3d;
  border: 1px solid rgba(89, 87, 90, 1.0);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  user-select: none;
}

div.card:hover {
  box-shadow: 0 0 3pt 1pt rgba(102, 204, 117, 0.75);
}

div.card-header {
  height: 29px;
  background: rgba(89, 87, 90, 1.0);
  box-sizing: border-box;
  padding: 0 0 0 7px;
  line-height: 29px;
  cursor: move;
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
  font-family: 'Lato', Georgia, Serif;
  font-weight: bold;
}

div.card-header button {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  /*border-radius: 50%;*/
  z-index: 9999;
}

div.card-header svg.close {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  z-index: 9999;
}

div.card-header button.close {
  background: rgba(89, 87, 90, 1.0) url('../asset/close_dark.svg') center/15px auto no-repeat;
  background-size: cover;
}

div.card-header button.close:hover,
div.card-header button.close:active {
  background: rgba(89, 87, 90, 1.0) url('../asset/close_active.svg') no-repeat;
  background-size: cover;
  cursor: pointer;
}

div.card-body-container {
  height: calc(100% - (31px));
  width: 100%;
}