div#version_text {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 30%;
  transform: translate(-20%, 0);
  text-align: center;
  font-family: 'Lato', Georgia, Serif;
  font-size: 90%;
}

img#version_logo {
  content: url('../asset/logo_full.png');
  position: relative;
  left: 50%;
  transform: translate(-50%, -15%);
}

span#frameworks {
  font-family: 'Lato', Georgia, Serif;
  font-weight: 100;
  font-size: 68%;
}
