
div.fileexplorer-window {
  width: 100%;
  background-color: rgba(10, 10, 10, 1.0);
  height: calc(100% - 29px); /* TODO non-absolute? */
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;

  overflow: auto;
}

div.fileexplorer-window .fileexplorer-dir-header {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
}
div.fileexplorer-window .fileexplorer-file-item {
  white-space: nowrap;
}
div.fileexplorer-window .fileexplorer-dir-view.expanded > .fileexplorer-dir-header {
  margin: 4px 0;
}
div.fileexplorer-window ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
div.fileexplorer-window ol > li,
div.fileexplorer-window ol > ol {
  transition: all 0.5s ease;
  display: block;
  flex-grow: 1;
  border-left: 5px solid rgba(171, 178, 191, 0.4);
  padding-left: 12px;
  margin: 2px 0;
}
div.fileexplorer-window ol > ol.collapsed,
div.fileexplorer-window ol > li {
  /* height: 1.2em; */
}
div.fileexplorer-window .fileexplorer-dir-view > .fileexplorer-dir-header::before {
  content: "▶"; /* right chevron */
  position: relative;
  left: -3px;
}
div.fileexplorer-window .fileexplorer-dir-view.expanded > .fileexplorer-dir-header::before {
  content: "▼"; /* down chevron */
}
div.fileexplorer-window .fileexplorer-dir-view.expanded > .fileexplorer-dir-header {
  padding-bottom: 4px;
  border-bottom: 2px solid lightblue;
  white-space: pre-line;
}
div.fileexplorer-window .fileexplorer-dir-view.collapsed > li,
div.fileexplorer-window .fileexplorer-dir-view.collapsed > ol {
  display: none;
}

/* GIT stuff */
div.fileexplorer-window ol > li.git-status-tracked-clean,
div.fileexplorer-window ol > ol.git-status-tracked-clean {
  border-left: 5px solid green;
}
div.fileexplorer-window ol > li.git-status-tracked-modified,
div.fileexplorer-window ol > ol.git-status-tracked-modified {
  border-left: 5px solid yellow;
}
div.fileexplorer-window ol > li.git-status-deleted,
div.fileexplorer-window ol > ol.git-status-deleted {
  border-left: 5px solid red;
  filter: brightness(40%);
}
