.editor {
  border-radius: 0 0 10px 10px;
}

.ace_content {
  height: 100%;
  width: 100%;
}

/* removes scrollbars from Ace Editor panes until hovered */
.ace_scrollbar {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.ace_editor:hover .ace_scrollbar {
  opacity: 1;
}

/* Styled scrollbars in Ace Editor pane, adapted from: https://stackoverflow.com/a/73570055 */
.ace_scrollbar::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
.ace_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #272822; /* Matches ace monokai */
  border-radius: 10px;
}
.ace_scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

.ace_highlight_green {
  position: absolute;
  background: rgb(57, 70, 52);
  /* background: rgba(147, 200, 54, 0.8); */
  z-index: 20;
}

.ace_highlight_red {
  position: absolute;
  background: rgb(85, 57, 61);
  /* background: rgba(221, 88, 115, 0.8); */
  z-index: 20;
}
