body {
  margin: 0px;
  padding: 0px;
}

.canvas {
  background: url('../../assets/canvas.png') center/auto fixed;
  width: 100%;
  height: 100%;
  position: fixed;
}

.card {
  background: rgba(90,125,86,1.0);
  color: rgba(171,178,191,1.0);
  width: 200px; /* 7:5 aspect ratio */
  height: 280px; /* 7:5 aspect ratio */
  position: absolute;
  perspective: 1000px;
  border: 1px solid rgba(89,87,90,1.0);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px;
  user-select: none;
}

.card:hover {
  box-shadow: 0 0 3pt 1pt rgba(102,204,117,0.75);
}

.card.nohover:hover {
  box-shadow: 0 0 5pt 3pt rgba(218,46,46,1.0) !important;
}

.card.highlight {
  box-shadow: 0 0 5pt 3pt rgba(218,46,46,1.0);
}

.card-header {
  height: 29px;
  width: 100%;
  background: rgba(89,87,90,1.0);
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  cursor: move;
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
  font-family: 'Lato', Georgia, Serif;
  font-weight: bold;
}

.card-header button {
  height: 15px;
  width: 15px;
  top: 7px;
  border: 0;
  margin-right: 5px;
  z-index: 9999;
}

.card-header span {
  flex-basis: 100%;
}

.card-header svg.expand {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  z-index: 9999;
}

button.close {
  background: url('../../assets/close_dark.svg');
  background-size: cover;
}

button.close:hover,
button.close:active {
  background: url('../../assets/close_active.svg');
  background-size: cover;
  cursor: pointer;
}