body {
  margin: 0px;
  padding: 0px;
}

.canvas {
  background: url('canvas.png') center/auto fixed;
  width: 100%;
  height: 100%;
  position: fixed;
}

.stack {
  background-color: rgba(102, 204, 117, 0.6);
  height: calc((350px * 1.25) + 28px); /* scaled from card height */
  width: calc((250px * 1.25) + 28px); /* scaled from card width */
  position: absolute;
  cursor: move;
  border: 0.5px solid rgba(125, 125, 125, 1);
  border-radius: 5px;
  user-select: none;
}

.card {
  background: rgba(89, 87, 90, 1);
  color: rgba(171, 178, 191, 1);
  height: 350px; /* 7:5 aspect ratio */
  width: 250px; /* 7:5 aspect ratio */
  position: absolute;
  perspective: 1000px;
  border: 1px solid rgba(89, 87, 90, 1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  user-select: none;
}

.card:hover {
  box-shadow: 0 0 3pt 1pt rgba(102, 204, 117, 0.75);
}

.card.nohover:hover {
  box-shadow: 0 0 5pt 3pt rgba(218, 46, 46, 1) !important;
}

.card.highlight {
  box-shadow: 0 0 5pt 3pt rgba(218, 46, 46, 1);
}

.card-header {
  height: 29px;
  width: 100%;
  background: rgba(89, 87, 90, 1);
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-start;
  cursor: move;
  border-radius: 5px 5px 0 0;
  transform-style: preserve-3d;
  font-family: 'Lato', Georgia, Serif;
  font-weight: bold;
}

.card-header button {
  height: 15px;
  width: 15px;
  top: 7px;
  border: 0;
  margin-right: 5px;
  z-index: 9999;
}

.card-header span {
  flex-basis: 100%;
}

.card-header svg.expand {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 7px;
  right: 10px;
  border: 0;
  z-index: 9999;
}

.card-front,
.card-back {
  width: 100%;
  height: calc(100% - 29px);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  font-family: 'Lato', Georgia, Serif;
}

.card-front {
  background-color: rgba(40, 44, 52, 1);
}

.card-back {
  background-color: rgba(255, 255, 255, 1);
  display: grid;
  grid-template-columns: minmax(2rem, 1.2fr) minmax(5rem, 3fr);
  column-gap: 0.1rem;
  grid-template-rows: repeat(auto-fill, minmax(1.7rem, 1fr));
  row-gap: 0.25rem;
}

.card-back * {
  font-size: small;
  padding: 0.2rem;
  margin: 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-back .field {
  border-bottom: 0.5px solid rgba(40, 44, 52, 1);
}

.git_icon {
  background: url('git_light.png') no-repeat center center / 47%;
  padding: 0.2rem;
  margin: 0.1rem;
}

/* CSSTransition from react-transition-group uses *-enter, *-enter-active,
   *-exit, and *-exit-active (in that order) for animation effects */
.flip-enter {
  transform-style: preserve-3d;
}

.flip-enter-active {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  position: relative;
}

.flip-exit {
  transform-style: preserve-3d;
}

.flip-exit-active {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  position: relative;
}

.editor {
  border-radius: 0 0 10px 10px;
}

/* removes scrollbars from Ace Editor panes until hovered */
.ace_scrollbar {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.ace_editor:hover .ace_scrollbar {
  opacity: 1;
}

.ace_highlight_green {
  position: absolute;
  background: rgba(147, 200, 54, 0.8);
  z-index: 20;
}

.ace_highlight_red {
  position: absolute;
  background: rgba(221, 88, 115, 0.8);
  z-index: 20;
}

button.close {
  background: url('close_dark.svg');
  background-size: cover;
}

button.close:hover,
button.close:active {
  background: url('close_active.svg');
  background-size: cover;
  cursor: pointer;
}

button.flip {
  background: url('flip_dark.svg');
  background-size: cover;
}

button.flip:hover,
button.flip:active {
  background: url('flip_active.svg');
  background-size: cover;
  cursor: pointer;
}

.diff-container {
  display: grid;
  grid-template-columns: 150px 20px 150px;
  grid-template-rows: 50px 70px 50px;
  column-gap: 5px;
  row-gap: 5px;
  place-items: center;
  grid-template-areas:
    'header header header'
    'left center right'
    'footer footer footer';
}

img.diff_icon {
  content: url('diff.png');
  height: auto;
  width: 20px;
}

.file-icon {
  margin-left: 20px;
}

.file-explorer {
  color: rgba(30, 30, 30, 1);
  background: rgba(235, 235, 235, 1);
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-indent: 20px;
  border-radius: 0px 0px 10px 10px;
  overflow: auto;
  text-overflow: ellipsis;
}

.file-explorer::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

.branch-ribbon-container {
  background-color: rgba(72, 74, 212, 1);
  height: 20px;
  transform: translateY(-16px);
  padding-bottom: -10px;
}

.branch-ribbon-text {
  color: rgba(235, 235, 235, 1);
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 1px;
  overflow-x: hidden;
  white-space: nowrap;
  width: fit-content;
  margin-bottom: 0px;
}

.branch-ribbon-container:hover > .branch-ribbon-text {
  animation: scroll-text 10s linear infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.branch-ribbon-container:not(:hover) > .branch-ribbon-text {
  animation: fade-text 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-text {
  0% {
    opacity: 0;
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
  }
}

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-96%);
  }

  100% {
    transform: translateX(0%);
  }
}

.new-card-dialog-container {
  width: 250px;
  height: 270px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 5px;
  row-gap: 5px;
  place-items: center;
  grid-template-areas:
    'header header'
    'upper-left upper-right'
    'middle middle'
    'lower-left lower-right'
    'footer footer'
    'subfooter subfooter';
}

#new-card-dialog-filetype {
  width: 140px;
}

#new-card-dialog-title {
  margin-top: -10px;
}

div.browser-topbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3px;
  padding-bottom: 3px;
}

button.arrow-left {
  background: url('arrow-left-bold.svg') no-repeat center top/contain;
  background-size: cover;
  border-style: none;
  outline: 0px;
}

button.arrow-right {
  background: url('arrow-right-bold.svg') no-repeat center top/contain;
  background-size: cover;
  border-style: none;
  outline: 0px;
}

button.refresh {
  background: url('refresh.svg') no-repeat center top/contain;
  background-size: cover;
  border-style: none;
  outline: 0px;
}

.url-bar-style {
  height: 17px;
  border-radius: 2px;
  border: none;
}

div.browser-content {
  border-radius: 0px 0px 10px 10px;
  height: calc(100% - 25px);
  width: 100%;
}

div.version-tracker {
  color: rgba(30, 30, 30, 1);
  background: rgba(235, 235, 235, 1);
  width: 100%;
  height: 100%;
  flex-grow: 1;
  text-indent: 20px;
  border-radius: 0px 0px 10px 10px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.version-tracker::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

.version-tracker-branches {
  width: 100%;
  padding-left: 10px;
}

.git-info-dialog-container {
  width: 450px;
  height: 250px;
  display: grid;
  margin: 10px;
  margin-top: -15px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
  place-items: center;
  grid-template-areas:
    'header header'
    'middle middle'
    'lower-left lower-right'
    'footer footer';
}

#git-info-dialog-title {
  margin-bottom: -25px;
  width: 100%;
  padding-left: 10px;
}

.git-flow {
  z-index: -1;
}
